<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.kb7spring.student.mapper.StudentMapper">
    <select id="findAll" resultType="org.example.kb7spring.student.domain.Student">
        SELECT * FROM `student`;
    </select>

    <insert id="insert" parameterType="org.example.kb7spring.student.domain.Student" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `student` (name, role, specialty, status)
        VALUES (#{name}, #{role}, #{specialty}, #{status})
    </insert>

    <select id="search" resultType="org.example.kb7spring.student.domain.Student">
        SELECT * FROM `student`
        <where>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="role != null an`d role != ''">
                AND role = #{role}
            </if>
        </where>

    </select>




</mapper>